(Pour le nettoyage des données, se référer au notebook [Data Cleaning](./Data_cleaning.ipynb) (./Data_cleaning.ipynb), Ce fichier ne s'occupera que de l'analyse du jeu de données.)

Pour commencer, on va d'abord importer toutes les librairies dont nous aurons besoin lors de cette analyse :

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import skew
from scipy.stats import kurtosis
from sklearn.preprocessing import LabelEncoder

# Problématique

Voici la problématique générale à laquelle nous souhaitons répondre dans cette analyse :

> _**Existe t-il des profils types de Pokémon selon leur catégorie ou leur type ?**_

---

Cette question sera découpée en plusieurs morceaux afin de faire des sous-problématiques plus ciblées, qui pourront nous éclaircir ou nous donner des parts de réponses.

Par exemple : **Les pokémons de type Dragon sont-ils statistiquement plus puissants que les autres types ?** (et autres...)

---

On commence avant tout par ouvrir le fichier csv avec pandas :

In [4]:
dfPokemon = pd.read_csv('./Datasets/MP-24-25_Cleaned.csv')

In [5]:
dfPokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 49 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1045 non-null   int64
 1   pokedex_number    1045 non-null   int64
 2   name              1045 non-null   object
 3   generation        1045 non-null   int64
 4   status            1045 non-null   object
 5   species           1045 non-null   object
 6   type_number       1045 non-null   int64
 7   type_1            1045 non-null   object
 8   type_2            553 non-null    object
 9   height            1045 non-null   float64
 10  weight            1045 non-null   float64
 11  abilities_number  1045 non-null   int64
 12  ability_1         1042 non-null   object
 13  ability_2         516 non-null    object
 14  ability_hidden    813 non-null    object
 15  total_points      1045 non-null   int64
 16  hp                1045 non-null   int64
 17  attack            1045 non-null   int64
 18  defense           1045 non-null   int64
 19  sp_attack         1045 non-null   int64
 20  sp_defense        1045 non-null   int64
 21  speed             1045 non-null   int64
 22  catch_rate        1027 non-null   float64
 23  base_friendship   930 non-null    float64
 24  base_experience   925 non-null    float64
 25  growth_rate       1044 non-null   object
 26  egg_type_number   1045 non-null   int64
 27  egg_type_1        1045 non-null   object
 28  egg_type_2        286 non-null    object
 29  percentage_male   872 non-null    float64
 30  egg_cycles        1044 non-null   float64
 31  against_normal    1045 non-null   float64
 32  against_fire      1045 non-null   float64
 33  against_water     1045 non-null   float64
 34  against_electric  1045 non-null   float64
 35  against_grass     1045 non-null   float64
 36  against_ice       1045 non-null   float64
 37  against_fight     1045 non-null   float64
 38  against_poison    1045 non-null   float64
 39  against_ground    1045 non-null   float64
 40  against_flying    1045 non-null   float64
 41  against_psychic   1045 non-null   float64
 42  against_bug       1045 non-null   float64
 43  against_rock      1045 non-null   float64
 44  against_ghost     1045 non-null   float64
 45  against_dragon    1045 non-null   float64
 46  against_dark      1045 non-null   float64
 47  against_steel     1045 non-null   float64
 48  against_fairy     1045 non-null   float64
dtypes: float64(25), int64(13), object(11)
memory usage: 400.2+ KB

La colonne *'Unnamed: 0'* s'est glissé dans notre dataset, avant de continuer notre analyse, on va simplement retirer cette colonne :

In [7]:
dfPokemon = dfPokemon.drop(columns='Unnamed: 0')

Notre étude débutera donc avec une analyse univariée de toutes la variables de notre dataset nettoyé :

In [9]:
for column in dfPokemon.select_dtypes(include='number').columns: # On récupère toutes les variables qualitatives pour itérer et afficher nos variables
        print(f"Analyse simple de la colonne : {column}")
        print(dfPokemon[column].describe())
        print('Kurtosis : ', dfPokemon[column].kurt())
        print('Skewness : ', dfPokemon[column].skew() , '\n')

Analyse simple de la colonne : pokedex_number
count    1045.000000
mean      440.769378
std       262.517231
min         1.000000
25%       212.000000
50%       436.000000
75%       670.000000
max       898.000000
Name: pokedex_number, dtype: float64
Kurtosis :  -1.2129592429420115
Skewness :  0.03226614073167834

Analyse simple de la colonne : generation
count    1045.000000
mean        4.098565
std         2.272788
min         1.000000
25%         2.000000
50%         4.000000
75%         6.000000
max         8.000000
Name: generation, dtype: float64
Kurtosis :  -1.1102261545730172
Skewness :  0.19973024066098652

Analyse simple de la colonne : type_number
count    1045.000000
mean        1.529187
std         0.499386
min         1.000000
25%         1.000000
50%         2.000000
75%         2.000000
max         2.000000
Name: type_number, dtype: float64
Kurtosis :  -1.9900967827452878
Skewness :  -0.11711399720982628

Analyse simple de la colonne : height
count    1045.000000
mean        1.374711
std         3.352918
min         0.101600
25%         0.609600
50%         0.990600
75%         1.600200
max        99.999800
Name: height, dtype: float64
Kurtosis :  719.7090174745449
Skewness :  24.809196853788247

Analyse simple de la colonne : weight
count    1045.000000
mean       71.280492
std       132.315306
min         0.099880
25%         9.007360
50%        29.528160
75%        70.565220
max      1000.797600
Name: weight, dtype: float64
Kurtosis :  21.320971731184237
Skewness :  4.22385456907893

Analyse simple de la colonne : abilities_number
count    1045.000000
mean        2.268900
std         0.803154
min         0.000000
25%         2.000000
50%         2.000000
75%         3.000000
max         3.000000
Name: abilities_number, dtype: float64
Kurtosis :  -1.217168223510453
Skewness :  -0.5345667203776415

Analyse simple de la colonne : total_points
count    1045.000000
mean      439.353110
std       121.992897
min       175.000000
25%       330.000000
50%       458.000000
75%       515.000000
max      1125.000000
Name: total_points, dtype: float64
Kurtosis :  0.29627281302796815
Skewness :  0.22894655301711236

Analyse simple de la colonne : hp
count    1045.000000
mean       70.067943
std        26.671411
min         1.000000
25%        50.000000
50%        68.000000
75%        82.000000
max       255.000000
Name: hp, dtype: float64
Kurtosis :  8.495820938772313
Skewness :  1.814279848356152

Analyse simple de la colonne : attack
count    1045.000000
mean       80.476555
std        32.432728
min         5.000000
25%        55.000000
50%        77.000000
75%       100.000000
max       190.000000
Name: attack, dtype: float64
Kurtosis :  0.024578706355743662
Skewness :  0.488191158549415

Analyse simple de la colonne : defense
count    1045.000000
mean       74.670813
std        31.259462
min         5.000000
25%        50.000000
50%        70.000000
75%        90.000000
max       250.000000
Name: defense, dtype: float64
Kurtosis :  2.9789656387274936
Skewness :  1.1756432789894258

Analyse simple de la colonne : sp_attack
count    1045.000000
mean       73.031579
std        32.745857
min        10.000000
25%        50.000000
50%        65.000000
75%        95.000000
max       194.000000
Name: sp_attack, dtype: float64
Kurtosis :  0.2242567850453736
Skewness :  0.7253925138600698

Analyse simple de la colonne : sp_defense
count    1045.000000
mean       72.298565
std        28.098943
min        20.000000
25%        50.000000
50%        70.000000
75%        90.000000
max       250.000000
Name: sp_defense, dtype: float64
Kurtosis :  2.4008622363648415
Skewness :  0.9391278044998501

Analyse simple de la colonne : speed
count    1045.000000
mean       68.807656
std        30.210094
min         5.000000
25%        45.000000
50%        65.000000
75%        90.000000
max       200.000000
Name: speed, dtype: float64
Kurtosis :  -0.05454196305919767
Skewness :  0.43335419779733975

Analyse simple de la colonne : catch_rate
count    1027.000000
mean       92.739046
std        75.878404
min         3.000000
25%        45.000000
50%        60.000000
75%       127.000000
max       255.000000
Name: catch_rate, dtype: float64
Kurtosis :  -0.3667717397416532
Skewness :  0.9499068556871224

Analyse simple de la colonne : base_friendship
count    930.000000
mean      64.064516
std       21.452532
min        0.000000
25%       70.000000
50%       70.000000
75%       70.000000
max      140.000000
Name: base_friendship, dtype: float64
Kurtosis :  4.338453259848626
Skewness :  -1.2430199904447758

Analyse simple de la colonne : base_experience
count    925.000000
mean     153.716757
std       79.283970
min       36.000000
25%       67.000000
50%      159.000000
75%      201.000000
max      608.000000
Name: base_experience, dtype: float64
Kurtosis :  0.38982174194942054
Skewness :  0.5268708106359091

Analyse simple de la colonne : egg_type_number
count    1045.000000
mean        1.128230
std         0.634887
min         0.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         2.000000
Name: egg_type_number, dtype: float64
Kurtosis :  -0.5679101040094974
Skewness :  -0.11282939362632724

Analyse simple de la colonne : percentage_male
count    872.000000
mean      54.873853
std       20.398192
min        0.000000
25%       50.000000
50%       50.000000
75%       50.000000
max      100.000000
Name: percentage_male, dtype: float64
Kurtosis :  1.2259197911919766
Skewness :  0.0506353979683846

Analyse simple de la colonne : egg_cycles
count    1044.000000
mean       31.489464
std        30.511128
min         5.000000
25%        20.000000
50%        20.000000
75%        25.000000
max       120.000000
Name: egg_cycles, dtype: float64
Kurtosis :  4.0262296511656706
Skewness :  2.370268373245872

Analyse simple de la colonne : against_normal
count    1045.000000
mean        0.868660
std         0.286863
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: against_normal, dtype: float64
Kurtosis :  3.017412744117416
Skewness :  -2.0626003920738527

Analyse simple de la colonne : against_fire
count    1045.000000
mean        1.126316
std         0.714569
min         0.000000
25%         0.500000
50%         1.000000
75%         2.000000
max         4.000000
Name: against_fire, dtype: float64
Kurtosis :  3.6075507825456814
Skewness :  1.5714429287167195

Analyse simple de la colonne : against_water
count    1045.000000
mean        1.050718
std         0.609383
min         0.000000
25%         0.500000
50%         1.000000
75%         1.000000
max         4.000000
Name: against_water, dtype: float64
Kurtosis :  5.798267543037326
Skewness :  1.8756847274628212

Analyse simple de la colonne : against_electric
count    1045.000000
mean        1.035646
std         0.643535
min         0.000000
25%         0.500000
50%         1.000000
75%         1.000000
max         4.000000
Name: against_electric, dtype: float64
Kurtosis :  2.2180676350877997
Skewness :  0.9304400061482848

Analyse simple de la colonne : against_grass
count    1045.000000
mean        1.001196
std         0.744350
min         0.000000
25%         0.500000
50%         1.000000
75%         1.000000
max         4.000000
Name: against_grass, dtype: float64
Kurtosis :  4.915006713920466
Skewness :  1.9655336641745482

Analyse simple de la colonne : against_ice
count    1045.000000
mean        1.197608
std         0.756838
min         0.000000
25%         0.500000
50%         1.000000
75%         2.000000
max         4.000000
Name: against_ice, dtype: float64
Kurtosis :  3.531816777032647
Skewness :  1.6507342148618727

Analyse simple de la colonne : against_fight
count    1045.000000
mean        1.075120
std         0.753649
min         0.000000
25%         0.500000
50%         1.000000
75%         2.000000
max         4.000000
Name: against_fight, dtype: float64
Kurtosis :  2.751833387273641
Skewness :  1.3006463589488715

Analyse simple de la colonne : against_poison
count    1045.000000
mean        0.953110
std         0.541238
min         0.000000
25%         0.500000
50%         1.000000
75%         1.000000
max         4.000000
Name: against_poison, dtype: float64
Kurtosis :  4.3675787836354205
Skewness :  1.199830526204284

Analyse simple de la colonne : against_ground
count    1045.000000
mean        1.082297
std         0.782683
min         0.000000
25%         0.500000
50%         1.000000
75%         1.500000
max         4.000000
Name: against_ground, dtype: float64
Kurtosis :  2.492957385982149
Skewness :  1.09809390874664

Analyse simple de la colonne : against_flying
count    1045.000000
mean        1.168900
std         0.592145
min         0.250000
25%         1.000000
50%         1.000000
75%         1.000000
max         4.000000
Name: against_flying, dtype: float64
Kurtosis :  4.734708869759207
Skewness :  1.682815676111747

Analyse simple de la colonne : against_psychic
count    1045.000000
mean        0.977273
std         0.501934
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         4.000000
Name: against_psychic, dtype: float64
Kurtosis :  2.835004292791048
Skewness :  0.7809126518411631

Analyse simple de la colonne : against_bug
count    1045.000000
mean        0.998086
std         0.610411
min         0.000000
25%         0.500000
50%         1.000000
75%         1.000000
max         4.000000
Name: against_bug, dtype: float64
Kurtosis :  4.677860509563665
Skewness :  1.7178070720997791

Analyse simple de la colonne : against_rock
count    1045.000000
mean        1.238278
std         0.696560
min         0.250000
25%         1.000000
50%         1.000000
75%         2.000000
max         4.000000
Name: against_rock, dtype: float64
Kurtosis :  4.7235675537632575
Skewness :  1.8682411577984877

Analyse simple de la colonne : against_ghost
count    1045.000000
mean        1.018660
std         0.568056
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         4.000000
Name: against_ghost, dtype: float64
Kurtosis :  2.0321360624752414
Skewness :  0.5275231747616427

Analyse simple de la colonne : against_dragon
count    1045.000000
mean        0.977033
std         0.375812
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         2.000000
Name: against_dragon, dtype: float64
Kurtosis :  3.5822371244085565
Skewness :  0.1839156288640512

Analyse simple de la colonne : against_dark
count    1045.000000
mean        1.071053
std         0.465178
min         0.250000
25%         1.000000
50%         1.000000
75%         1.000000
max         4.000000
Name: against_dark, dtype: float64
Kurtosis :  4.604035809769603
Skewness :  1.614979346715774

Analyse simple de la colonne : against_steel
count    1045.000000
mean        0.981579
std         0.501753
min         0.000000
25%         0.500000
50%         1.000000
75%         1.000000
max         4.000000
Name: against_steel, dtype: float64
Kurtosis :  5.7788319994878865
Skewness :  1.797845763866826

Analyse simple de la colonne : against_fairy
count    1045.000000
mean        1.091148
std         0.536285
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         4.000000
Name: against_fairy, dtype: float64
Kurtosis :  6.971933990864278
Skewness :  2.036002197545459

> Pour rappel, la signification des variables :
> - Count : le compte total de valeurs non nulles dans la colonne
> - mean : la moyenne des valeurs de la colonne
> - 25, 50, 75 : Valeur au 25ème centile, Valeur médiane et Valeur au 75ème centile
> - min, max : Valeurs minimales et maximales de la colonne
> - Kurtosis : Dispersion des données (Plutôt en pic ou plat ?)
> - Skewness : Distribution des données (plutôt penchée à gauche ou à droite ?)